img {
	height: 20rem;
	width: 20rem;
	object-fit: cover;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

img:hover {
	cursor: pointer;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
